body {
    margin: 0;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
}
.team{
    width: 149px;
    height: 36px;
    left: 85px;
    top: 68px;
    color: white;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;

    text-align: center;
}

.score{
    background: #0a0001;
    font-size: 90px;
    color: #F94F6D;
    width: 120px;
    margin: 20px;
    
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    /* or 141% */

    text-align: center;

    color: #F94F6D;
}

.column{
    width: 155px;
    height: 120px;
    left: 82px;
    top: 125px;
}
button{
    background: none;
    color: #9AABD8;
    border-color: #9AABD8;
    border-width: 2px;
    border-color: #9AABD8;
    border-radius: 4px;
    
}